.no-result
{
    cursor: default;
}

.post
{
    padding-left: 150px;
    padding-top: 2%;
    width: 500px;
    overflow: hidden;
    cursor: default;
}

.search
{
    float: right;
    /*padding-left: 20%;*/
}

.text
{
    font-size: 14pt;
}

.time
{
    font-size: 10pt;
    font-style: italic;
}

#main
{
    float: left;
}